:root{
    --background-color: rgb(0,192,229);
    --header-color: rgb(0, 132, 158);
    --light-blue: rgb(189, 235, 247);
    --font-color-white: white;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{
    background-color: var(--background-color);
    color: var(--font-color-white);
}

img{
    width: 28px;
    height: 28px;
}

.weather-input{
    background-color:var(--light-blue);
    width: 20%;
    height: 100vh;
    min-width: 12rem;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem;
    position: relative;
    border-radius: 0.25rem;
}

.weather-input input{
    border: 1px solid grey;
    height: 34px;
    width: 100%;
    padding: 5px;
    border-radius: 0.25rem;
}

.weather-input button{
    background-color: var(--header-color);
    border: none;
    border-radius: 0 0.2rem 0.2rem 0;
    height: 32px; 
    width: 32px;
    position: absolute;
    transform: translate(-33px, 1px);
    cursor: pointer;
}

.weather-input button img{
    margin-top: 2px;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

h1{
    font-size: 2rem;
    background-color: var(--header-color);
    line-height: 3.5rem;
    text-align: center;
}

.weather-data{
    width: 80%;
    min-width: 25rem;
    margin: 1rem 1rem 0 1rem;
}

#favourite-city-container{
    margin-top: 1rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    border-bottom:  none;
    display: flex;
    flex-direction: column;
}

.favourite-city{
    border-bottom: 1px solid grey;
    height: 2.5rem;
    color: black;
    padding-left: 0.5rem;
    cursor: pointer;
}

.favourite-city .location-tag{
    margin-right: 1rem;
}

.favourite-city .arrow{
  margin-left: 1rem;
}

.selected-city{
    background-color: rgb(246, 246, 199);
    border-radius: 0.25rem 0.25rem 0 0;
}

.last-city{
    border-radius: 0 0 0.25rem 0.25rem;
}

.weather-data{
    display: flex;
    flex-direction: column;
}

#present-day{
    background-color:var(--header-color);
    border-radius: 0.25rem;
    padding: 1rem;
}

#present-day h2{
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

#present-day img{
    margin-right: 1rem;
}

#future-days{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.today{
    font-size: 1.25rem;
    line-height: 2rem;
    padding-left: 2.5rem;
}

.current-condition{
    justify-content: space-between;
}

.current-temp{
    line-height: 15rem;
    font-size: 12rem;
    font-weight: bold;
}

.current-temp img{
    height: 6rem;
    width: 6rem;
}

.current-condition .current-weather-image{
    height: 10rem;
    width: 10rem;
}

.feels-like{
    padding-left: 2.5rem;
}

.feels-like img{
    height: 3rem;
    width: 3rem;
}

.feels-like span{
    font-size: 3rem;
    font-weight: bold;
}

.flex-justify-middle{
    display: flex;
    align-items: center;
}

.flex-row-justify-middle{
    display: flex;
    align-items: center;
}

.flex-column-justify-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#weather-description{
    font-size: 2rem;
    font-weight: bold;
}

.current-other-info{
    width: 8rem;
}

.line-height-2rem{
    line-height: 2rem;
    font-size: 1.25rem;
}


